[Desktop Entry]
Name=CoreCtrl
GenericName=Core control
Comment=Управляйте своим оборудованием с легкостью, используя профили приложений
Exec=corectrl
Icon=amd-ati
StartupNotify=true
StartupWMClass=corectrl
Terminal=false
Type=Application
Categories=System;Settings;Utility;
Keywords=core;control;system;hardware;
GenericName[bg]=Централен Контрол
Comment[bg]=Управлявайте компютъра си с лекота, изполвайки профили за програмите ви
GenericName[es_ES]=Control central
Comment[es_ES]=Controle su computadora fácilmente usando perfiles de aplicaciones
GenericName[ru]=Центральный контроль
Comment[ru]=Управляйте своим оборудованием с легкостью, используя профили приложений
Name[ru]=CoreCtrl
Name[ru_RU]=CoreCtrl
Name[ru_RU.UTF-8]=CoreCtrl
Comment[ru_RU]=Управляйте своим оборудованием с легкостью, используя профили приложений
Comment[ru_RU.UTF-8]=Управляйте своим оборудованием с легкостью, используя профили приложений
Keywords[ru]=core;control;system;hardware;
Keywords[ru_RU]=core;control;system;hardware;
Keywords[ru_RU.UTF-8]=core;control;system;hardware;
Hidden=false
NoDisplay=false