[Unit]
Description=Prepare nix mount points

[Service]
Type=oneshot
ExecStartPre=chattr -i /
ExecStart=/bin/sh -c "mkdir -p /nix"
ExecStart=/bin/sh -c "mkdir -p /var/lib/nix"
ExecStart=/bin/sh -c "mount --bind /var/lib/nix /nix"
# We need to restart systemd and load the nix-daemon again
# as the nix-daemon files are actually inside the /nix folder
# which hasn't been mounted until now
ExecStart=/bin/sh -c "systemctl daemon-reload"
# This will fail the first time as we haven't installed nix yet
ExecStart=-/bin/sh -c "systemctl start nix-daemon.socket"
ExecStopPost=chattr +i /

[Install]
WantedBy=local-fs.target